@page
@model UserPageModel
@{
    ViewData["Title"] = "User";
}

<head>
    <link rel="stylesheet", href="css/userPage.css"/>
</head>
<body>
    <h1 class="text-center display-4">Welcome back, @Model.CurrentUser?.FirstName</h1>
    <div class="userContainer">
        <div class="left column">
            <img class="profileImg" src="@Model.CurrentUser?.LargePictureURL"/>
            <div class="border"></div>
            <h2>@Model.CurrentUser?.FirstName @Model.CurrentUser?.LastName</h2>
            <small>@Model.CurrentUser?.Username</small><br/>
            <small>@Model.CurrentUser?.Email</small><br/><br/>
            <p>You've been with us for @Model.CurrentUser?.RegisteredAge units of time!</p>
        </div>
        <div class="right column text-center">
            <h2>Your plan:</h2>
            <div class="border"></div>
            <div class="productContainer">
                <a class="productLink" href="@Model.CurrentUser?.FinancePlan.url">
                    <div class ="product">
                        <h3>@Model.CurrentUser?.FinancePlan.name</h3>    
                        <p>@Model.CurrentUser?.FinancePlan.description</p>
                        <small>@(Model.CurrentUser?.FinancePlan.premium) emeralds / fathom</small>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
